#medallistsstyle{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.medallistslist{

    margin-top: 50px;
    list-style-type: none;
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;

    // height: 320px;
    // width: 24%;
    // display: flex;
    // padding: 20px 10px 0;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    // color: #fff;
    // position: relative;
    // z-index: 4;
    // box-shadow: inset 10px 10px 80px rgba(0,0,0,0.45);
  }


  .problems__title{
    margin-top: 100px;
    width: 260px;
    font-size: 25px;
    border-bottom: 1px solid #000;
  }
  
  .problem {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  .image-items{
    margin-top: 50px;
    list-style-type: none;
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .image-item{
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 4;
    box-shadow: inset 10px 10px 80px rgba(0,0,0,0.45);
  }
  
  .problem__item {
    width: 25%;
    height: 350px;
  
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
  
    position: relative;
    overflow: hidden;
  }
  
  .image-item:hover .problem__hidden {
    opacity: 1;
  }
  
  
  .problem__hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: #d0ed9dd2;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity 0.2s linear;
  }
  
  .problem__content{
    padding: 20px 10px;
  }
  .problem__content .title{
    padding: 10px 5px;
    display: flex;
    color: #fff;
    background-color: black;
  }
  .problem__content .title .name {
    text-align: left;
    width: 100%;
    align-items: flex-start;
  }
  .problem__content .title .pos {
    text-align: right;
    white-space: nowrap;
    align-items: flex-end;
    display: flex;
  }
  .problem__content .title .pos img{
    width: 15px;
    margin-right: 5px;
  }


  .problem__content .body{
    height: 200px;
  }


  .problem__content .info{
    display: flex;
    color: black;
    background-color: white;
    padding: 10px 5px;
  }
  .problem__content .info .price{
    text-align: left;
    display: flex;
    width: 100%;
    align-items: flex-start;
  }
  .problem__content .info .price .capital{
    color: green;
  }  
  .problem__content .info .price .minBudget{
    
    color: red;
  }
  .problem__content .info .user{
    text-align: right;
    white-space: nowrap;
    align-items: flex-end;
    display: flex;
    margin-right: 5px;
  }
  .problem__content .info .user img{
    width: 15px;
    margin-right: 5px;
  }



  /*Hidden
  ==================*/
  .problem__description {
    font-size: 14px;
    color: #424242;
  }
  


  /*Bottons
  ==================*/
  
  .problems__btn {
    margin-top: 100px;
  }
  
  .btn--one {
    display: inline-block;
    vertical-align: top;
  
    text-decoration: none;
    text-align: center;
    transition-duration: 100ms;
    transition-property: box-shadow;
  }
  
  .btn--one:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  .donate__btn--one {
    padding: 12px 30px;
    border: 1px solid #00ff00;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    color: #000000;
    font-weight: 600;
  }
  
  .problem__btn--one {
    padding: 12px 25px;
  
    border: 1px solid #00ff00;
    border-radius: 10px;
    background-color: #00ff00;
  
    cursor: pointer;
  
    font-size: 13px;
    color: #000000;
    font-weight: 600;
  }