#eventBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    width: 90%;
}

#blockTitle{
    width: 100%;

    font-family: Arial;
    font-size: 2rem;
    font-weight: bold;

    color: #9E9E9E;

    margin-bottom: 30px
}

.currentEvent{
    display: flex;
    flex-direction: column;
    width: 22%;
    // background: rgb(133, 95, 95);
    position: relative;

    margin-top: 50px;
}

.eventDate{
    width: 70px;
    height: 56px;
    background: #9E9E9E;
    position: absolute;
    top: -28px;
    left: 18px;
    padding-top: 15px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: rgba(255, 255, 255, 0.6);
}

.eventDate span{
    font-size: 25px;
}

.eventImgBackground{
    width: 100%;
    height: 175px;
    background-position: center;
    background-size: cover ;
    
}
.eventTitle{
    height: 60px;
    background: #475152;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgba(255, 255, 255, 0.73);

    font-family: Arial;
    font-weight: bold;
    font-size: 21px;
}

.eventDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8%;
    min-height: 250px;
}
.descriptionText{
    font-size: 0.8rem;
    line-height: 20px;
    color: #FFFFFF;
    font-family: Roboto;
}
.eventDescription button{
    width: 115px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;

    font-size: 0.6rem;
    line-height: 14px;
}

@media screen and (max-width: 1024px){
    #eventBlock{
        width: 98%;
    }
}


@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); 